@use "../../sass";

.footerContainer {
  width: 100%;
  padding: 35px 1.5rem;
  background-color: sass.$black;
  border-top: 1px solid sass.$dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;

  @include sass.breakpoint(sass.$size-lg) {
    position: relative;
    padding: 50px 3rem;
    flex-direction: row;
    justify-content: center;
  }

  .icon {
    font-size: 2.2rem;
    color: sass.$white;
  }

  .iconText {
    margin: 2px;
  }

  .iconsCntainer {
    display: flex;
    gap: 1.5rem;

    @include sass.breakpoint(sass.$size-lg) {
      position: absolute;
      left: 3rem;
    }
  }

  .backToTop {
    @include sass.breakpoint(sass.$size-lg) {
      position: absolute;
      right: 3rem;
    }
  }
}
